@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Sorts CastMembers by ProductionTitle property
    var GroupByProduction = Model.GroupBy(model => model.ProductionTitle);
}

@*Header*@
<div class="CastMember-Index--PageHeader">
    <h1>@ViewBag.Title</h1>
</div>

@*Container for Create page link and Search form*@
<div class="row justify-content-between CastMember-Index--CreateButtonDiv">
    <div class="col-auto mr-auto">
        @*Create page link*@
        <button class="CastMember-Index--CreateButton">@Html.ActionLink("Create New Cast Member", "Create", null, new { @class = "CastMember-Index--Link" })</button>
    </div>
    @*Search form*@
    <div class="col-auto CastMember-Index--SearchForm">
        <h4>Search by Name or Bio:</h4>
        <form action="Index" method="POST">
            <input type="text" name="searchString" />
            <input type="submit" value="Apply filter" />
        </form>
    </div>
</div>

@*Container for Bootstrap decks*@
<div class="CastMember-Index--Container">
    @foreach (var group in GroupByProduction)
    {
        <h2 class="CastMember-Index--GroupHeader">@group.Key</h2>
        <div class="row row-cols-2 CastMember-Index-Deck" id="deck">
            @foreach (var castMember in group)
            {
                //convert the byte[] photo data back to an image
                string text = "";
                if (castMember.Photo != null)
                {
                    text = Convert.ToBase64String(castMember.Photo);
                }
                <div class="card border-danger mb-3 CastMember-Index--Card">
                    @*wraping image in a link to corresponding Details page*@
                    <a href="@Url.Action("Details", new { id = castMember.CastMemberId })">
                        <img src="data:image/jpg;base64,@text" class="card-img-top" />
                    </a>
                    <div class="card-body">
                        <h2 class="card-title CastMember-Index--CardTitle">@Html.DisplayFor(modelItem => castMember.Name)</h2>
                        <div class="CastMember-Index--IconContainer">
                            @*trash can icon link to delete page*@
                            <i href="#">@Html.ActionLink(" ", "Delete", new { id = castMember.CastMemberId }, new { @class = "fa fa-trash CastMember-Index--DeleteIcon" })</i>
                            @*pen and pad icon link to edit page*@
                            <i href="#">@Html.ActionLink(" ", "Edit", new { id = castMember.CastMemberId }, new { @class = "fa fa-edit CastMember-Index--EditIcon" })</i>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>